<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570955607350-4s62k3ncitcqhmstfqkp76t1dnaelfod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570955607350-4s62k3ncitcqhmstfqkp76t1dnaelfod</string>
	<key>API_KEY</key>
	<string>AIzaSyDAVmd8d4dtTiCV3jGuIYxImDYEoNH8AFM</string>
	<key>GCM_SENDER_ID</key>
	<string>570955607350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mahnoorkhan.FirebasRTDvsCF</string>
	<key>PROJECT_ID</key>
	<string>rtdvscf</string>
	<key>STORAGE_BUCKET</key>
	<string>rtdvscf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570955607350:ios:902e6b3cfc2a9813675797</string>
	<key>DATABASE_URL</key>
	<string>https://rtdvscf.firebaseio.com</string>
</dict>
</plist>